{{ define "Title" }}{{/*
*/}}{{ if .Container }}{{ .Container.Id }}{{ else }}Obaly{{ end }}{{ end }}
{{ define "Content" }}

{{ if .Container }}

<section>
<header>
	<h2>{{ .Container.Id }}</h2>
	<form method=post action="/label?id={{ .Container.Id }}">
	<input type=submit value="Vytisknout štítek">
	</form>
	<form method=post action="/?id={{ .Container.Id }}&amp;remove">
	<input type=submit value="Odstranit">
	</form>
</header>

<form method=post action="/?id={{ .Container.Id }}">
<textarea name=description rows=5>
{{ .Container.Description }}
</textarea>
<footer>
	<div>
		<label for=series>Řada:</label>
		<select name=series id=series>
{{ range $prefix, $desc := .AllSeries }}
			<option value="{{ $prefix }}"
				{{ if eq $prefix $.Container.Series }}selected{{ end }}
				>{{ $prefix }} &mdash; {{ $desc }}</option>
{{ end }}
		</select>
	</div>
	<div>
		<label for=parent>Nadobal:</label>
		<input type=text name=parent id=parent value="{{ .Container.Parent }}">
	</div>
	<input type=submit value="Uložit">
</footer>
</form>
</section>

<h2>Podobaly</h3>

{{ else }}
<section>
<header>
	<h2>Nový obal</h2>
</header>
<form method=post action="/">
<textarea name=description rows=5
	placeholder="Popis obalu nebo jeho obsahu"></textarea>
<footer>
	<div>
		<label for=series>Řada:</label>
		<select name=series id=series>
{{ range $prefix, $desc := .AllSeries }}
			<option value="{{ $prefix }}"
				>{{ $prefix }} &mdash; {{ $desc }}</option>
{{ end }}
		</select>
	</div>
	<div>
		<label for=parent>Nadobal:</label>
		<input type=text name=parent id=parent value="">
	</div>
	<input type=submit value="Uložit">
</footer>
</form>
</section>

<h2>Obaly nejvyšší úrovně</h2>
{{ end }}

{{ range .Children }}
<section>
<header>
	<h3><a href="/?id={{ .Id }}">{{ .Id }}</a></h3>
	<form method=post action="/label?id={{ .Id }}">
	<input type=submit value="Vytisknout štítek">
	</form>
	<form method=post action="/?id={{ .Id }}&amp;remove">
	<input type=submit value="Odstranit">
	</form>
</header>
{{ if .Description }}
<p>{{ .Description }}
{{ end }}
{{ if .Children }}
<p>
{{ range .Children }}
<a href="/?id={{ .Id }}">{{ .Id }}</a>
{{ end }}
{{ end }}
</section>
{{ else }}
<p>Obal je prázdný.
{{ end }}

{{ end }}
