{{ define "Title" }}{{/*
*/}}{{ if .Container }}{{ .Container.Id }}{{ else }}Obaly{{ end }}{{ end }}
{{ define "Content" }}

{{ if .ErrorNoSuchSeries }}
<p>Chyba: Řada neexistuje.
{{ else if .ErrorContainerAlreadyExists }}
<p>Chyba: Obal s tímto ID už existuje.
{{ else if .ErrorNoSuchContainer }}
<p>Chyba: Obal neexistuje.
{{ else if .ErrorCannotChangeSeriesNotEmpty }}
<p>Chyba: Řadu u neprázdných obalů nelze měnit.
{{ else if .ErrorCannotChangeNumber }}
<p>Chyba: Číslo obalu v řadě nelze měnit.
{{ else if .ErrorWouldContainItself }}
<p>Chyba: Obal by obsahoval sám sebe.
{{ else if .ErrorContainerInUse }}
<p>Chyba: Obal se používá.
{{ else if .Error }}
<p>Chyba: {{ .Error }}
{{ end }}

{{ if .Container }}

<section>
<header>
	<h2>{{ .Container.Id }}
{{ range .Container.Path }}
	<small>&laquo; <a href="container?id={{ . }}">{{ . }}</a></small>
{{ end }}
	</h2>
	<form method=post action="label?id={{ .Container.Id }}" target=_blank>
	<input type=submit value="Vytisknout štítek">
	</form>
	<form method=post action="container?id={{ .Container.Id }}&amp;remove">
	<input type=submit value="Odstranit">
	</form>
</header>

<form method=post action="container?id={{ .Container.Id }}">
<textarea name=description rows="{{ max 5 (lines .Container.Description) }}"
	placeholder="Popis obalu nebo jeho obsahu">
{{ .Container.Description }}</textarea>
<footer>
	<div>
		<label for=series>Řada:</label>
		<select name=series id=series>
{{ range $prefix, $desc := .AllSeries }}
			<option value="{{ $prefix }}"
				{{ if eq $prefix $.Container.Series }}selected{{ end }}
				>{{ $prefix }} &mdash; {{ $desc }}</option>
{{ end }}
		</select>
	</div>
	<div>
		<label for=parent>Nadobal:</label>
		<input type=text name=parent id=parent value="{{ .Container.Parent }}">
	</div>
	<input type=submit value="Uložit">
</footer>
</form>
</section>

<h2>Podobaly</h3>

{{ else }}
<section>
<header>
	<h2>Nový obal</h2>
</header>
<form method=post action="container">
<textarea name=description rows=5
	placeholder="Popis obalu nebo jeho obsahu"></textarea>
<footer>
	<div>
		<label for=series>Řada:</label>
		<select name=series id=series>
{{ range $prefix, $desc := .AllSeries }}
			<option value="{{ $prefix }}"
				>{{ $prefix }} &mdash; {{ $desc }}</option>
{{ end }}
		</select>
	</div>
	<div>
		<label for=parent>Nadobal:</label>
		<input type=text name=parent id=parent value="">
	</div>
	<input type=submit value="Uložit">
</footer>
</form>
</section>

<h2>Obaly nejvyšší úrovně</h2>
{{ end }}

{{ range .Children }}
<section>
<header>
	<h3><a href="container?id={{ .Id }}">{{ .Id }}</a>
{{ range .Path }}
	<small>&laquo; <a href="container?id={{ . }}">{{ . }}</a></small>
{{ end }}
	</h3>
	<form method=post action="label?id={{ .Id }}" target=_blank>
	<input type=submit value="Vytisknout štítek">
	</form>
	<form method=post action="container?id={{ .Id }}&amp;remove">
	<input type=submit value="Odstranit">
	</form>
</header>
{{ if .Description }}
<p>{{ .Description }}
{{ end }}
{{ if .Children }}
<p>
{{ range .Children }}
<a href="container?id={{ .Id }}">{{ .Id }}</a>
{{ end }}
{{ end }}
</section>
{{ else }}
<p>Obal je prázdný.
{{ end }}

{{ end }}
